* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(35, 24, 24, 0.1);
}

.container .left {
    position: relative;
    background: #ffffff;
    padding: 40px;
    border: 1px solid #f0f0f0;
    text-align: left; 
    
}

.container .right {
    position: relative;
    background: #100364;
    padding: 40px;
    border: 5px solid #f0f0f0;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: large;
    text-align: left;
    color: #ddab15;
    margin-top: 35px;
}

.r {
    font-size: small;
    color: #fff;
    text-align: left;
    margin-top: 8px;
}

hr {
    width: 100%;
    height: 3px;
    background: #f8e300;
    margin: 10px 0;
}
.z{
      font-size: small;
    color: #fff;
    text-align: left;
    margin-top: 8px;
}
